body {
    margin: 0;
    padding: 0;

    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: #f8f8ff;
    text-align: center;

    font-family: "Outfit", "Open Sans", sans-serif;
}
.container {
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
body, .container {
    width: 100%;
    height: 100vh;
}

.contents h3 {
    font-weight: normal;
}

button, .asButton {
    display: inline-block;
    font-size: small;
    transition: all ease-in-out 0.2s !important;
    border: none;
    border-radius: 5rem;
    padding: 15px 25px;
    cursor: pointer;

    background-color: #1f1f1f;
    color: #f8f8ff;

    text-decoration: none;
}
button:hover, .asButton:hover {
    background-color: #f8f8ff;
    color: #232323;
}
button:active, .asButton:active {
    transform: scale(.95);
}

/* post part */
.container[is-post] {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}
.container[is-post] .contents {
    height: 90vh;
    width: min(75%, 900px);
    text-align: left;
}
.container[is-post] p.back a.asButton {
    background-color: rgba(0,0,0,0);
    padding: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: bolder;
}
.container[is-post] p.back a.asButton svg {
    fill: #ffffff;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.container[is-post] p.back a.asButton:hover {
    color: #f8f8ff;
    background-color: rgba(255,255,255,0.45);
}

